body{background-image: url(https://steamuserimages-a.akamaihd.net/ugc/964230781514955171/5E51E3F97ACB5D0419C65329BA942434BF81DA6E/); no-repeat
      }

p{font-family: fantasy;
  color: #0000FF;
	 letter-spacing: 3px;
	 font-size: 32px;
	 text-shadow: 3px 1px 3px;
	}
	 
	 span{font-family: fantasy;
	   color: #0000FF;
	 letter-spacing: 3px;
	 font-size: 35px;
	 text-shadow: 3px 1px 3px;} 

	  img {
	  	width: 300px;
	  	height: 300px;
	  	border-radius: 1000px;
	  }

	  .text1{
	  	height: 600px;
	  	width: 600px;
	  	border: 10px ridge #7401DF;
	  	margin-left: 350px;
	  	background-color: #FFFF00;
	  	border-radius: 100px;
	  }